body, html {
    font-family:' Open Sans', sans-serif;
   
  

}
#cont {
    background-color: #F3CB6D;
    text-align: center;
    border-radius: 4px;
    width: 45px;
    height: 30px;
    font-size: xx-small;
   
}

.card-title {
    font-size: x-large;
    font-weight:525;
}

h6 {
    font-size: small;
    font-weight: 600;
}


.help {
    font-size: xx-small;
    text-decoration: none;
}

.text-muted {
    font-size: 7.5px;
    font-weight:550;
}
h1 {
    display: inline-block;
    position: relative;
    text-align: center;
    color: rgb(137, 137, 137);
    font-size: small
    
}

h1 span {
    background: #fff;
    padding: 0 10px;
    position: relative;
    z-index: 1;
    
    
}

h1:before {
    background: #ddd;
    content: "";
    height: 1px;
    position: absolute;
    top: 50%;
    width: calc(13% + 50px);
    left: 750px;
    
}

 .footer-container {
    font-size: 11px;
    text-decoration: none;
    width: 40%;
    padding: 40px;
   
   
 }

 .copyright {
    font-size: 11px;
    font-weight: 400;
    color: rgb(50, 50, 50)
 }

 footer{
    background-color: rgb(247, 247, 247)

 }

.text-center {
    font-size: 10px;
   
}


#amazon {
    text-align: center;
    font-size: xx-large;

}

#create {
    border-radius: 4px;
   
}
